.fixed{
    width: 70%;
    margin: auto;
    background-color: bisque;
    margin-top: 50px;
    padding: 20px;
    border-radius: 15px;
}
 .lightbox{
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;  

}

.large{
    width: 70%;
    
}

.small{
    width: 25%;

} 